<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="onShowSplasScreen()" expand="block" fill="clear" shape="round">
          Show Splash Screen
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button (click)="getToken()" expand="block" shape="round">
        Get Token
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>